grumphp:
  ascii:
    failed: vendor/nazrul/drupal-code-checker/resources/ascii/grumpy.txt
    succeeded: vendor/nazrul/drupal-code-checker/resources/ascii/happy.txt
  tasks:
    phplint: ~
    yamllint: ~
    composer: ~
    composer_normalize: ~
    jsonlint: ~
    phpcpd:
      directory: ['./src']
    phpcs:
      standard: Drupal
      ignore_patterns:
        - .github
        - .gitlab
        - bower_components
        - node_modules
        - vendor
      triggered_by:
        - php
        - module
        - inc
        - install
        - test
        - profile
        - theme
        - css
        - info
        - txt
        - md
